/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

/*PAKEISTI BREADCUMB SPALVA???*/

/*#Rodykle {
  background-color: #26a69a;
}*/

#Gitanas {
  width: 100%;
}

#logo {
  margin-left: 50px;
}

#tekstas {
  margin-left: 50px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.auk {
  margin: 10px;
  height: 40px
}

.align {
  padding:40px
}


.centravimas {
  margin-top: 80px;
  margin-left:40px;
  height: 60px;
}

.dydis{
  height: 100%;
}

.foto{
  padding-top:20px;
  padding-left: 20px;
}

h5{
  font-size: 45 px
}

.head {
color: #004d40 ;
padding-right: central;

}

.bold {
  font-weight: 700;
}


.kampas {
  float: left;
  padding-right: 30px;
  padding-bottom: 10px;
}

.cntr{
  /*padding: 60px !important;*/
  font-size: 22px;

}

.align2 {
  padding:5px;
  margin-left:10px;
}



.foto{
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;

}

.foto2{
  width: 35%;
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
  
}

.fotoSize {
  width: 100%;
}

.top{
  width: 300px;
  height: 200px;
}

.size{
   font-size: 10%;
}



.tekstodydis {
  font-size: 18px;
  width: 100%;
}

.headdydis{
  font-size: 35px;
  width: 100%;
}

.karusele {
  width: 300% !important;
  height: 200px !important;
}


